:root {
  --text: #4b4b4b;
  --text-h: #1a1a1a;
  --bg: #fafafa;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;

  font: 18px/145% var(--sans);
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

h1 {
  font-family: var(--sans);
  font-weight: 500;
  color: var(--text-h);
  font-size: 40px;
}
